.transacao {
  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cardTotal {
      background: #0036c2;
      color: #fff;
      height: 12.5rem;
      width: 40rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 2rem;
      }

      h2 {
        font-size: 3rem;
      }
    }

    .filterButtons {
      display: flex;
      gap: 20px;

      @mixin button($color, $isEnable) {
        @if ($isEnable) {

          color: #fff;
          background: $color;
        } @else{
          border: 1px solid $color;
          color: $color;
          background: transparent;
        }
      }

      button {
        border: 0;
        background: #0036c2;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 35px;
        height: 40px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          filter: brightness(0.9);
        }
      }

      .disable{
        @include button(#0036c2, false);
      }

      .redButton {
        @include button(#e46464, false);
      }
      .redButton.disable {
        @include button(#e46464, false);
      }

      .greenButton {
        @include button(#38af5a, true);
      }
      .greenButton.disable {
        @include button(#38af5a, false);
      }
    }
  }
}
