.cadastro {
  display: flex;
  border: 1px solid #0036c2;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  min-width: 350px;
  height: 500px;

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      padding: 10px 25px;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
    }

    input {
      padding: 10px 25px;

      &::placeholder {
        color: #476dcf;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .submit {
    text-align: center;

    button {
      border: 0;
      background: #0036c2;
      cursor: pointer;
      margin-top: 50px;
      margin-bottom: 10px;
      padding: 10px 35px;
      height: 40px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        filter: brightness(0.9);
      }
    }

    p {
      font-size: 14px;
    }
  }
}
