.listBg {
  background: #f0f0f0;
  width: 50%;
  min-width: 800px;
  height: 350px;
  padding: 30px;
  text-align: center;

  .listRow {
    height: 7rem;
    background: #fff;
    border: 1px solid #e46464;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 15px 0;
    cursor: default;

    .info {
      display: flex;
      align-items: center;
      gap: 30px;

      p {
        font-size: 18px;
      }
    }

    .actions {
      :nth-child(1) {
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          color: #0036c2;
        }
      }
      :nth-child(2) {
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
          color: #e46464;
        }
      }
    }
  }

  .notFound{
    height: 20rem;
    width: 20rem;
  }
}
