main {
  display: flex;
  height: 100vh;
}

.ilustration {
  flex: 6;
  background: #0036c2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 60%;
    width: 60%;
    min-height: 45rem;
    min-width: 55rem;
  }

  h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
  }

  h1 {
    color: #fff;
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 5rem;
  }
}

.formLogin {
  flex: 4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 8rem;
    width: 35rem;
  }
}
