.header {
  width: 100%;
  padding: 10px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 5rem;
    width: 19.5rem;
    cursor: pointer;

    &:hover {
      filter: brightness(0.9);
    }
  }

  .logoutIcon {
    height: 32px;
    width: 32px;
    cursor: pointer;

    &:hover {
      color: #0036c2;
    }
  }
}
